body {
  margin: 0;
  padding: 0;
  background-color: blanchedalmond;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
}

#login-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login-form-label {
  font-weight: bold;
  color: black;
  padding-top: 0px;
  font-family: 'Futura', sans-serif;
}

.login-form-field {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  margin-bottom: 8px;
  border: none;
  padding-bottom: 4px;
  font-family: 'Futura', sans-serif;
  color: black; 
  background-color: rgb(216, 189, 236);
  border-radius: 3px;
  width: 200px;
}

#login-form-submit {
  background-color: #ff4500;
  padding: 8px; 
  width: 100px; 
  font-family: 'Futura', sans-serif;
  margin-top: 26px;
  border-radius: 8px;
  margin-left: auto; 
  margin-right: auto; 
}

#username-field {
  background-color: rgb(216, 189, 236);
}
