.user-card {
    background-color: antiquewhite; 
    padding: 10px;
    border-radius: 12px; 
    width: 200px; 
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  .user-card img {
    width: 90px; 
    height: 90px;
    border-radius: 15%; 
    background-color: antiquewhite;
    padding-top: 10px;
    padding-bottom: -5px;
  }
  
  .user-card h3 {
    font-size: 14px; 
    margin-top: 5px; 
    text-align: center; 
    color: black;
    font-family: 'Futura', sans-serif;
  }
  