.CommentForm label {
  font-family: 'Futura', sans-serif;
  display: block;
  font-weight: bold;
}

.CommentForm {
  max-width: 400px;
  margin: auto;
}

.CommentForm textarea {
  font-family: 'Futura', sans-serif;
  width: 70%;
  height: 50px;
  padding: 0.5em 0.75em;
  margin-bottom: 6px;
  border-radius: 6px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(249, 212, 218);
}

.CommentForm button {
  font-size: 14px;
  font-family: 'Futura', sans-serif;
  margin-left: 80px;
  margin-right: 80px;
  background-color: #ff4500;
  color: white;
  border-radius: 8px;
  padding: 0.5em 0.75em;
  outline: none;
  cursor: pointer;
}
.CommentForm button:hover {
  background-color: #e63900;
}

.InputLabel {
  color: black;
  font-family: 'Futura', sans-serif;
}

.SubmitButton {
  border: none;
}