/* .comment-card-container {
  background-color: #f4f1ee;
  border: 1px solid #cccccc;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  justify-content: center;
  margin-right: 45px;
  margin-bottom: 20px;
  font-family: 'Futura', sans-serif;
}

.comment-card-container h3 {
  font-size: 14px;
  color: black;
}

.comment-card-container p {
  font-size: 14px;
  margin-top: 5px;
  color: black;
}

.comment-card-container button {
  background-color: #ff4500;
  color: #ffffff;
  border-radius: 8px;
  padding: 0.5em 0.75em;
  cursor: pointer;
}

.comment-card-container:hover {
  transform: translateY(-2px);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
} */
body {
  margin: 0;
    padding: 0;
    background-color: blanchedalmond;
}

#root {
    max-width: 1280px;
    margin: 0 auto;
  }
  
.comment-card-container {
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px;
  width: 45%;
  display: inline-block;
  vertical-align: top;
  border-radius: 7px;
  background-color: rgb(252, 248, 241);
  color: #000;
  box-sizing: border-box;
  font-family: 'Futura', sans-serif;
  margin-left: -13px;
  margin-right: 22px;
}

.comment-card-container h3 {
  margin: 0;
}

.comment-card-container button {
  background-color: #ff4500;
  color: #ffffff;
  border-radius: 8px;
  padding: 5px;
  cursor: pointer;
  margin-top: 3px;
}

@media (max-width: 768px) {
  .comment-card-container {
    width: 70%;
    text-align: center;
    margin-right: 26px;
    margin-left: -18px;
  }
}

.comment-card-container:hover {
  transform: translateY(-2px);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.delete-button-comment {
  font-family: 'Futura', sans-serif;
}