.comment-card-container {
  background-color: #f4f1ee;
  border: 1px solid #cccccc;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  justify-content: center;
  margin-right: 45px;
  margin-bottom: 20px;
  font-family: 'Futura', sans-serif;
}

.comment-card-container h3 {
  font-size: 14px;
  color: black;
}

.comment-card-container p {
  font-size: 14px;
  margin-top: 5px;
  color: black;
}

.comment-card-container button {
  background-color: #ff4500;
  color: #ffffff;
  border-radius: 4px;
  padding: 0.5em 0.75em;
}

.comment-card-container:hover {
  transform: translateY(-2px);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}
