.article-list {
  display: inline-block;
  flex-wrap: wrap;
  justify-content: space-between;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;

}
.ArticleCard {
  width: 20%;
  margin-bottom: 20px;
  box-sizing: border-box;
}