#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

body {
  background-color: blanchedalmond;
}

.article-image {
  max-width: 300px;
}

.article-card {
  margin: 20px;
}

.article {
  max-width: auto
}

